html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #333;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #5f1111;
    font-weight: bold;
    text-align: center;
    padding: 2em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 80em;
    margin: 1em auto;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.carte {
    display: flex;
    flex-direction: column;
    border: 1px solid #AAA;
    border-radius: .25em;
    width: 15em;
    margin: 1em;
}

.carte .header {
    border-bottom: 1px solid #AAA;
    padding: .66em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    background-color: #777;
}

.carte .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.carte .soustitre {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.carte .description {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 1em 0;
}

.carte img {
    width: 5em;
    padding: 3px;
    border: 1px solid #AAA;
    border-radius: .25em;
    margin-left: 1em;
}

.carte a {
    display: block;
    color: #fff;
    padding: 1em;
    border: 1px solid #2f52b4;
    border-radius: .25em;
    background-color: #0e2a79;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 0 0 #2f52b4;
    transition: background-color, box-shadow .2s ease;
}

.carte a:focus {
    outline: none;
    box-shadow: 0 0 0 3px #2f52b4;
}

.carte a:hover {
    background-color: #143aa1;
}
